<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRJg0vY7hGW60UxG_8vW9UCORkkVbO_tg</string>
	<key>GCM_SENDER_ID</key>
	<string>549739443427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.startDate.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>start-date</string>
	<key>STORAGE_BUCKET</key>
	<string>start-date.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549739443427:ios:605f0e3f9676d8e85f01d6</string>
</dict>
</plist>